#cornerSliderClipping {
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 0% 0%);
    transition: 2s ease;
    width: fit-content;
    height: fit-content;
    /* padding: 3% 3% 1% 1%; */
    position: absolute;
    bottom: 0%;
    background-color: orange
}

#cornerSliderClipping:hover{
    /* min-width: 300px;
    min-height: 300px;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%); */
}